src/main/mule/AWS.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:s3="http://www.mulesoft.org/schema/mule/s3"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<s3:config name="Amazon_S3_Configuration" doc:name="Amazon S3 Configuration" doc:id="b7ee688b-b319-4842-99ac-5cce69b7609c" >
		<s3:basic-connection accessKey="AKIATKHPNBUTW3BNFHM5" secretKey="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" region="US_EAST_2" />
	</s3:config>
	<flow name="AWSFlow" doc:id="316be4bc-60e6-4ffb-9f50-d414e60b71ba" >
		<http:listener doc:name="Listener" doc:id="0b6d477b-64db-4a57-aa64-306733f892f9" config-ref="order-sys-api-httpListenerConfig" path="/getdata"/>
		<s3:get-object doc:name="Get object" doc:id="130abebb-f95f-4cf8-938d-83c03da5af23" config-ref="Amazon_S3_Configuration" bucketName="accountdata-phani" key="accounts.csv"/>
		<ee:transform doc:name="Transform Message" doc:id="7a56897a-9854-45ca-a85b-d5bdd012877a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	Name: payload01."Account name",
	BillingCity: payload01."Billing city",
	BillingState: payload01."Billing state/province",
	BillingPostalCode: payload01."Billing zip/postal code",
	BillingCountry: payload01."Billing country",
	ShippingCity: payload01."Shipping city",
	ShippingState: payload01."Shipping state/province",
	ShippingPostalCode: payload01."Shipping zip/postal code",
	ShippingCountry: payload01."Shipping country",
	Phone: payload01.Phone
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create doc:name="Create" doc:id="6b8ab7ea-6111-412d-8691-9a9c1267feda" config-ref="Salesforce_Config" type="Account"/>
		<ee:transform doc:name="Transform Message" doc:id="9feeabf4-11db-47c3-9b4d-0d08afa81e24" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="382048ad-401d-49be-8003-c2197abede26" message="#[payload]"/>
	</flow>
</mule>
